{% extends 'base.html' %}


{% block content %}
<main class="container" style="padding-top: 5vh;">
  <a href="{% url 'index' %}"> < Back</a>

  <h3 class="text-center">Please fill in below form</h3>

  
  <form class="mx-auto my-5" style="max-width: 50rem;" method="POST" enctype="multipart/form-data">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
    {% endfor %}
    {% endif %}

    
    {% csrf_token %}
    <!-- Personal info -->
    <div class="form-group">
      <label class="d-flex" for="name">
        <span>Name</span>
        <span class="ml-auto text-right text-ar">الاسم</span>
      </label>
      <input type="text" class="form-control" id="name" name="name" required>
      <div class="invalid-feedback"></div>
    </div>
    <div class="form-group">
      <label class="d-flex" for="email">
        <span>Email</span>
        <span class="ml-auto text-right text-ar">البريد الإلكتروني</span>
      </label>
      <input type="email" class="form-control" id="email" name="email" required>
      <div class="invalid-feedback"></div>
    </div>
    <div class="form-group">
      <label class="d-flex" for="phone">
        <span>Phone Number</span>
        <span class="ml-auto text-right text-ar">رقم الهاتف</span>
      </label>
      <input type="text" class="form-control" id="phone" name="phone" required>
      <div class="invalid-feedback"></div>
    </div>
    <div class="form-group">
      <label class="d-flex" for="whatsapp">
        <span>WhatsApp Number</span>
        <span class="ml-auto text-right text-ar">رقم واتساب</span>
      </label>
      <input type="text" class="form-control" id="whatsapp" name="whatsapp" required>
      <div class="invalid-feedback"></div>
    </div>

    <div class="form-group">
      <label class="d-flex" for="address">
        <span>Address</span>
        <span class="ml-auto text-right text-ar">عنوان</span>
      </label>
      <input type="text" class="form-control" id="address" name="address" required>
      <div class="invalid-feedback"></div>
    </div>
    
    <div class="form-group">
      <label class="d-flex" for="residents">
        <span>Number of Residents in the affected residence (How many people live and sleep here)?</span>
        <span class="ml-auto text-right text-ar">
          عدد المقيمين في السكن المتضرر (كم عدد الأشخاص الذين يعيشون وينامون هنا)؟
        </span>
      </label>

      <input type="number" class="form-control" id="residents" name="residents" required>
      <div class="invalid-feedback"></div>
    </div>

    <!-- rooms info -->
    <section class="my-5 py-3">
      <div class="form-group">
        <label class="d-flex" for="rooms">
          <span>Number of Rooms</span>
          <span class="ml-auto text-right text-ar">عدد الغرف</span>
        </label>
        <input type="number" class="form-control" id="rooms" name="rooms" required>
        <div class="invalid-feedback"></div>
      </div>
  
      <div class="row">
        <div class="col-12 col-md-4">
          
          <label class="d-flex" for="room1">
            <span>Room 1</span>
            <span class="ml-auto text-right text-ar">غرفة 1</span>
          </label>
          <input type="file" name="room1" id="room1" required>
          <div class="invalid-feedback"></div>
        </div>
        <div class="col-12 col-md-4">
          <label class="d-flex" for="room2">
            <span>Room 2</span>
            <span class="ml-auto text-right text-ar">غرفة 2</span>
          </label>
          <input type="file" name="room2" id="room2" required>
          <div class="invalid-feedback"></div>
        </div>
        <div class="col-12 col-md-4">
          <label class="d-flex" for="room3">
            <span>Room 3</span>
            <span class="ml-auto text-right text-ar">غرفة 3</span>
          </label>
          <input type="file" name="room3" id="room3" required>
          <div class="invalid-feedback"></div>
        </div>
      </div>
    </section>
    

    <!-- living rooms info -->
    <section class="my-5 py-3">
      <div class="form-group">
        <label class="d-flex" for="livingrooms">
          <span>Number of Living Rooms</span>
          <span class="ml-auto text-right text-ar">عدد غرف المعيشة</span>
        </label>
        <input type="number" class="form-control" id="livingrooms" name="livingrooms" required>
        <div class="invalid-feedback"></div>
      </div>
  
      <div class="row">
        <div class="col-12 col-md-6">
          <label class="d-flex" for="livingroom1">
            <span>Room 1</span>
            <span class="ml-auto text-right text-ar">غرفة 1</span>
          </label>
          <input type="file" name="livingroom1" id="livingroom1" required>
          <div class="invalid-feedback"></div>
        </div>
        <div class="col-12 col-md-6">
          <label class="d-flex" for="livingroom2">
            <span>Room 2</span>
            <span class="ml-auto text-right text-ar">غرفة 2</span>
          </label>
          <input type="file" name="livingroom2" id="livingroom2" required>
          <div class="invalid-feedback"></div>
        </div>
      </div>
    </section>


    <div class="my-5">
      <label class="d-flex" for="kitchen">
        <span>Kitchen</span>
        <span class="ml-auto text-right text-ar">المطبخ</span>
      </label>
      <input type="file" name="kitchen" id="kitchen" required>
      <div class="invalid-feedback"></div>
    </div>

    <div class="my-5">
      <label class="d-flex" for="national_id">
        <span>Copy of your Identity Card (Optional)</span>
        <span class="ml-auto text-right text-ar">نسخة من بطاقة التعريف (اختياري)</span>
      </label>
      <input type="file" name="national_id" id="national_id">
      <div class="invalid-feedback"></div>
    </div>

    <div class="form-group">
      <label class="d-flex" for="occupation">
        <span>Occupation</span>
        <span class="ml-auto text-right text-ar">مهنة</span>
      </label>
      <input type="text" class="form-control" id="occupation" name="occupation" required>
      <div class="invalid-feedback"></div>
    </div>

    <div class="form-group">
      <label class="d-flex" for="income">
        <span>Annual Income</span>
        <span class="ml-auto text-right text-ar">الدخل السنوي</span>
      </label>
      <input type="number" class="form-control" id="income" name="income" required>
      <div class="invalid-feedback"></div>
    </div>
    
    <div class="form-group">
      <label class="d-flex" for="age">
        <span>Age</span>
        <span class="ml-auto text-right text-ar">العمر</span>
      </label>
      <input type="number" class="form-control" id="age" name="age" required>
      <div class="invalid-feedback"></div>
    </div>
    
    <div class="py-3">
      <button class="btn btn-primary btn-block text-ar font-weight-bold">Submit - إرسال</button>
    </div>
  </form>
</main>
{% endblock %}


{% block js %}
<script>
  // Accept images only
  document.querySelectorAll('input').forEach(i => i.setAttribute('accept', 'image/x-png,image/gif,image/jpeg'));
</script>
{% endblock %}