{% extends 'base.html' %}


{% block content %}
<main class="container" style="padding-top: 5vh;">
  <a href="{% url 'aid_record_list' %}"> < Back</a>


  <div class="d-flex">
    <button class="btn btn-primary ml-auto shadow" data-toggle="modal" data-target="#offerModal">Offer support</button>
  </div>

  <section class="rounded shadow-sm p-3 mt-5 border">
    <div class="row">
      <div class="col-12 col-md-7">
        <p class="m-0">name: {{record.name}}</p>
        <p class="m-0">email: {{record.email}}</p>
        <p class="m-0">phone: {{record.phone}}</p>
        <p class="m-0">whatsapp: {{record.whatsapp}}</p>
        <p class="m-0">residents: {{record.residents}}</p>
        <p class="m-0">occupation: {{record.occupation}}</p>
        <p class="m-0">income: {{record.income}}</p>
        <p class="m-0">age: {{record.age}}</p>
      </div>

      <div class="col-12 col-md-5">
        <img class="rounded" src="/media/{{record.national_id}}" alt="national_id">
      </div>
    </div>

  </section>
  


  <section class="rounded shadow-sm p-3 mt-4 border">
    <p class="text-uppercase m-0 font-weight-bold">livingrooms: {{record.livingrooms}}</p>

    <div class="row">
      <div class="col-12 col-md-6 mt-3">
        livingroom1
        <img class="rounded d-block" src="/media/{{record.livingroom1}}" alt="livingroom1">
      </div>

      <div class="col-12 col-md-6 mt-3">
        livingroom2
        <img class="rounded d-block" src="/media/{{record.livingroom2}}" alt="livingroom2">
      </div>
    </div>
  </section>


  <section class="rounded shadow-sm p-3 mt-4 border">
    <p class="text-uppercase m-0 font-weight-bold">rooms: {{record.rooms}}</p>
  
    <div class="row">
      <div class="col-12 col-md-6 mt-3">
        room1
        <img class="rounded d-block" src="/media/{{record.room1}}" alt="room1">
      </div>
      <div class="col-12 col-md-6 mt-3">
        room2
        <img class="rounded d-block" src="/media/{{record.room2}}" alt="room2">
      </div>
      <div class="col-12 col-md-6 mt-3">
        room3
        <img class="rounded d-block" src="/media/{{record.room3}}" alt="room3">
      </div>
      <div class="col-12 col-md-6 mt-3">
        kitchen
        <img class="rounded d-block" src="/media/{{record.kitchen}}" alt="kitchen">
      </div>

    </div>
  </section>



  <section class="my-5">
    <h4>Offers</h4>
  
    {% for offer in record.offers.all %}
    <div class="bg-light shadow-sm my-3 p-3">
      <h5>{{offer.name}}</h5>
      <h5>{{offer.occupation}}</h5>
      <p>{{offer.description}}</p>
    </div>
    {% endfor %}
  </section>






  <!-- Modal -->
  <div class="modal fade" id="offerModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Send an offer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <form method="POST" onsubmit="sendOffer(event)">
            {% csrf_token %}

            <input type="hidden" name="aid" id="aid" value="{{record.id}}">

            <div class="form-group">
              <label for="name">Full name</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" name="email" required>
            </div>

            <div class="form-group">
              <label for="phone">Phone number</label>
              <input type="text" class="form-control" id="phone" name="phone" required>
            </div>

            <div class="form-group">
              <label for="occupation">Occupation</label>
              <input type="text" class="form-control" id="occupation" name="occupation" required>
            </div>

            <div class="form-group">
              <label for="description">Descripe your support offer</label>
              <textarea class="form-control" id="description" name="description" rows="5" required></textarea>
            </div>

            <button class="btn btn-success btn-block mt-5" type="submit">Send offer</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  
</main>
{% endblock %}


{% block js %}
<script>
  function sendOffer(e) {
    e.preventDefault();

    $.ajax({
      url: "{% url 'offer' %}",
      method: 'post',
      data: new FormData(e.target),
      processData: false,
      contentType: false,
      success: res => location.reload()
      // success: res => console.log(res)
    })

    console.log(e)

  }
</script>
{% endblock %}