{% extends 'base.html' %}


{% block content %}
<main class="container" style="padding-top: 7vh;">
  <h1 class="text-center">
    Support Beirut
    <img class="flag ml-3" src="https://images-na.ssl-images-amazon.com/images/I/31veVzJonbL._AC_.jpg" alt="flag">
  </h1>
  
  <p class="text-left mt-5">
    This past month has seen dramatic events unfold in our beloved country. 
    In less than ten seconds, more than 250.000 Lebanese lost their houses, and more than 750.000 Lebanese found themselves living in their houses without windows, balconies, doors, furniture, and fixtures.
    We are sure that your sentiments are echoed in the hope for a new leaf to be turned in the coming years with a brighter future. A future that brings with it stability, peace, and a turnaround for our economy, our governance, and, most importantly, our people. 
    Although the road ahead of us will be long and painful, we should continue to stand together and extend our support in any way we can, as we aspire for a brighter future. Questscope is an international non-governmental, non-profit organization founded in 1988 to put the last, first. We rely on the theory of social change that recognizes the interconnected nature of individual transformation, institutional response, and policy changed at the governance level.  The horrific blast has brought into sharp focus the need for the international community to step up and help Lebanon and its people. That is way Questscope is devoted to helping people in Beirut city, especially the ones whose homes were affected by the blast. We aim to restore and help rebuild houses for people who cannot afford to rebuild or repair their houses at their own expense.
  </p>


  <p class="text-right text-ar mt-4">     
    في أقل من عشر ثوان، فقد أكثر من 250.000 لبناني منازلهم، ووجد أكثر من 750.000 لبناني أنفسهم يعيشون في منازلهم بدون نوافذ وشرفات وأبواب أدوات كهربائية ولوازم مطبخ.
    اننا على يقين انكم تأملون أن تفتح السنوات المقبلة صفحة أكثر إشراقا ومستقبل واعد يجلب معه الاستقرار والسلام والتحول الإيجابي في الإقتصاد والحوكمة ، الأمر الذي ينعكس على الشعب اللبناني. 
    هذا وعلى الرغم من أن الطريق لتحقيق ما ورد آنفاً سيكون طويلا ومؤلما، إلى أنه ينبغي أن نواصل الوقوف معا مساندة بعضنا البعض من خلال تقديم الدعم المباشر بأي طريقة ممكنة، لذلك فإننا نتطلع إلى مستقبل أكثر إشراقا. 
    كويستسكوب هي منظمة دولية غير حكومية لا تهدف الربح حيث تأسست في عام 1988 لوضع الأخير، أولا. تعتمد كويستسكوب على نظرية التغيير الاجتماعي التي تعترف بالطبيعة المترابطة للتحول الفردي، والاستجابة المؤسسية، وتغير السياسات على مستوى الحوكمة.
    لذلك ونظراً لفداحة الإنفجار المروع فإن المجتمع الدولي مدعو إلى تكثيف جهوده لمساعدة لبنان وشعبه.
    بناءً لم سبق، قررت كويستسكوب مساعدة الناس في مدينة بيروت، وخاصة أولئك الذين تضررت منازلهم من جراء الانفجار حيث تهدف إلى ترميم المنازل والمساعدة في إعادة بناءها للمواطنين الذين لا يستطيعون إعادة بناء أو إصلاح منازلهم على نفقتهم الخاصة
  </p>


  <div class="row" style="margin-top: 7vh;">
    <div class="col">
      <a href="{% url 'aid_record' %}" class="btn btn-lg btn-outline-info btn-block">I need help</a>
    </div>
    <div class="col">
      <a href="{% url 'aid_record_list' %}" class="btn btn-lg btn-outline-success btn-block">I'm here to help</a>
    </div>
  </div>
</main>
{% endblock %}
